@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #da7b56;
}

/*---------------------LOGO---------------------*/

.logoMain{
    display: inline-flex;
    margin-top: -20px;
    margin-bottom: -10px;
    margin-left: 0;
    width: 5%;
    height: 8%;
}
/*---------------------MAIN-NAV1---------------------*/

/*---------------------MAIN-NAV2---------------------*/

.main-nav2 ul {
    margin-top: -400px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    position: relative;
    list-style: none;
}

.main-nav2 ul.main-menu2 {
    flex: 1;
    display: flex;
    position: relative;
}

.main-nav2 ul.main-menu2 li {
    padding: 0 8px;
}

.main-nav2 ul.main-menu2 li a {
    color: #5A428E;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.main-menu2 {
    display: inline-flex;
    position: relative;
    margin-top: 0;
}

.main-nav2 ul.main-menu2 li a:hover {
    background-color: orangered;
    border-bottom: 2px solid #5A428E;
}

/*---------------------Drop-Down---------------------*/
.dropBtn {
    display: flex;
    background-color: transparent;
    color: #5A428E;
    font-size: 40px;
    margin-left: 900%;
    margin-top: -10px;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.dropBtn:hover {
    background-color: orangered;
}

.dropdown {
    background-color: transparent;
    position: relative;
    display: inline-block;
}


.dropdown-content {
    text-align: left;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgb(61, 61, 61);
    z-index: 1;
    transition: 1s;
}

.dropdown-content a {
    font-size: 15px;
    color: #5A428E;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}  

.dropdown a:hover {
    background-color: orangered;
}

/*---------------------Slides---------------------*/

.main-slide {
    width: 100%;
    height: 500px;
    margin: auto;
    box-shadow: 0px 0px 3px gray;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    transition: 1s;
    position: absolute;
}

.nav {
    text-align: center;
    position: absolute;
    background-color: transparent;
    margin-top: -300px;
    display: flex;
    padding: 20px;
}

.nav button{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border-color: darkgray;
    background-color: transparent;
}

.nav b{
    background-color: transparent; 
    position: relative; 
    padding: 10px; 
    margin-left: 0; 
    height: 0; 
    width: 100%; 
    border-radius: 50px;
    font-size: 25px;
    color: rgb(77, 77, 77);
}

.nav2 {
    width: 100%;
    align-items: center;
    position: relative;
    background-color: transparent;
    margin-top: -10px;
    display: flex;
    padding: 20px;
}

.nav2 #button1{
    position: relative;
    margin-left: 45%;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    padding: 0 5px;
    border-color: darkgray;
    background-color: transparent;
}

.nav2 #button2, #button3, #button4, #button5{
    margin-left: 5px;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border-color: darkgray;
    background-color: transparent;
    position: relative;
}

#button1:hover, #button2:hover, #button3:hover, #button4:hover, #button5:hover, #button1:focus, #button2:focus, #button3:focus, #button4:focus, #button5:focus  {
    background-color: orangered;
}

/*---------------------Media---------------------*/
.show {
    display: block;
}

@media (min-width: 769px){
    .main-nav1 {
        visibility: collapse;
    }

    .main-nav2 {
        visibility: visible;
    }

    .logoMain{
        height: 3%;
        width: 5%;
    }

    .goprevbtn{
        margin-left: 80%;
    }
    
    .gonextbtn{
        margin-left: 1100%;
    }
}

@media (min-width: 320px) and (max-width: 768px){
    .main-nav2 {
        visibility: collapse;
    }

    .main-nav1 {
        visibility: visible;
    }

    .goprevbtn{
        margin-left: 10%;
    }
    
    .gonextbtn{
        margin-left: 230%;
    }
}